@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");

body {
  color: #ae7c78;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: white;
}

h1 {
  font-size: 44px;
  font-weight: 300;
  font-family: "Playfair Display", Serif;
  letter-spacing: 0em;
  line-height: 59px;
  margin-bottom: 10px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: "Playfair Display", Serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

.header {
  border-top: 1px solid #ae7c78;
  border-bottom: 1px solid #ae7c78;
  position: relative;
  margin-top: 25px;
  text-align: center;
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
}
.menu-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  display: flex;
  justify-content: space-between;
  height: 63px;
  align-items: center;
}
.navigation a {
  color: #ae7c78;
  text-decoration: none;
}
.navigation a:nth-child(3) {
  margin-right: 77px;
}
.navigation a:nth-child(4) {
  margin-left: 77px;
}

.section-main {
  display: flex;
  width: 1200px;
  height: 466px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 82px;
  gap: 20px;
}
.section-main-text {
  align-self: flex-start;
}
.section-main-text p {
  line-height: 29px;
}

.section-main-pic_one {
  align-self: flex-end;
  padding-bottom: 0;
}
.section-main-pic_two {
  align-self: flex-start;
}
.section-main p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0px;
}
.background-button {
  color: white;
  background-color: #d89999;
  height: 80px;
  width: 285px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}
.background-button p {
  font-size: 16px;
  margin: auto;
}

.advantage {
  display: grid;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  grid-template-columns: 82px 285px 82px 285px 82px 285px;
  margin-top: 29px;
  margin-bottom: 0px;
}
.bold {
  font-weight: 500;
  margin-bottom: 8px;
}
.advantage-text {
  margin-top: 0px;

  margin-bottom: 0px;
}
.advantage-delivery {
  position: relative;
  grid-column-start: 2;
}
.advantage-delivery::before {
  content: "";
  position: absolute;
  width: 82px;
  height: 52px;
  top: 14px;
  left: -102px;
  background: url("img/delivery.svg") no-repeat;
}
.advantage-fresh {
  position: relative;
  grid-column-start: 4;
}
.advantage-fresh::before {
  content: "";
  position: absolute;
  width: 52px;
  height: 52px;
  top: 14px;
  left: -73px;
  background: url("img/fresh.svg") no-repeat;
}

.advantage-photo {
  position: relative;
  grid-column-start: 6;
}
.advantage-photo::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 52px;
  top: 14px;
  left: -80px;
  background: url("img/photo.svg") no-repeat;
}

.card-flower {
  margin-top: 80px;
  text-align: center;
}
.card {
  display: grid;
  width: 794px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  grid-template-columns: auto 387px;
  grid-template-rows: 438px auto;
  grid-template-areas:
    "text photo"
    "arrow arrow";
  margin-top: 52px;
  margin-bottom: 0;
}
.card-discription p {
  margin: 26px 0;
}
.arrow {
  display: flex;
  grid-area: arrow;
  justify-content: center;
  cursor: pointer;
}
.arrow-left {
  align-self: flex-start;
  margin-right: 10px;
}
.arrow-right {
  align-self: flex-start;
  margin-left: 10px;
}

.bouquets {
  display: flex;
  width: 1200px;
  height: 466px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  gap: 20px;
  color: white;
}
.bouquets-wedding {
  height: 442px;
  width: 388px;
  background: linear-gradient(
      45deg,
      rgba(174, 124, 120, 0.6),
      rgba(174, 124, 120, 0.6)
    ),
    url(img/bouquets-wedding.jpg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bouquets-pions {
  height: 442px;
  width: 388px;
  background: linear-gradient(
      45deg,
      rgba(174, 124, 120, 0.6),
      rgba(174, 124, 120, 0.6)
    ),
    url(img/bouquets-pions.jpg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bouquets-girl {
  height: 442px;
  width: 388px;
  background: linear-gradient(
      45deg,
      rgba(174, 124, 120, 0.6),
      rgba(174, 124, 120, 0.6)
    ),
    url(img/bouquets-girl.jpg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.event_discount {
  height: 391px;
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  margin-bottom: 0;
  color: white;
  background: #ae7c78;
}

.event_discount-text {
  display: block;
  padding-left: 102px;
  padding-top: 40px;
  padding-right: 121px;
}
.event_discount-text p:first-of-type {
  font-size: 44px;
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 0.02em;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 0;
}
.event_discount-text p:last-of-type {
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
}

.four-step {
  margin-top: 80px;
  margin-bottom: 22px;
  text-align: center;
}
.four_steps {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.four_steps-order {
  list-style: none;
  position: relative;
  font-size: 16px;
  padding: 60px 0px 0px 0px;
  text-align: center;
}
.four_steps-order::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 52px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: url("img/order.svg") no-repeat;
}
.four_steps-order li:last-child {
  padding-top: 10px;
}
.four_steps-order li:first-child {
  font-weight: 500;
}

.four_steps-detals {
  list-style: none;
  position: relative;
  font-size: 16px;
  padding: 60px 0px 0px 0px;
  text-align: center;
}
.four_steps-detals::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 52px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: url("img/detals.svg") no-repeat;
}
.four_steps-detals li:last-child {
  padding-top: 10px;
}
.four_steps-detals li:first-child {
  font-weight: 500;
}

.four_steps-payment {
  list-style: none;
  position: relative;
  font-size: 16px;
  padding: 60px 0px 0px 0px;
  text-align: center;
}
.four_steps-payment::before {
  content: "";
  position: absolute;
  width: 69px;
  height: 52px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: url("img/payment.svg") no-repeat;
}
.four_steps-payment li:last-child {
  padding-top: 10px;
}
.four_steps-payment li:first-child {
  font-weight: 500;
}

.four_steps-delivery {
  list-style: none;
  position: relative;
  font-size: 16px;
  padding: 60px 0px 0px 0px;
  text-align: center;
}
.four_steps-delivery::before {
  content: "";
  position: absolute;
  width: 82px;
  height: 52px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: url("img/delivery.svg") no-repeat;
}
.four_steps-delivery li:last-child {
  padding-top: 10px;
}
.four_steps-delivery li:first-child {
  font-weight: 500;
}

.social_networks {
  display: flex;
  height: 460px;
  width: 1200px;
  height: 460px;
  margin: 60px auto 0px auto;
}
.social_networks h2 {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.social_networks p {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}
.social_networks a > img {
  padding-right: 15px;
}

.social_networks-img-vertical {
  width: 285px;
  height: 460px;
  margin-right: 20px;
}

.social_networks-img-vertical img:last-child {
  padding-top: 16px;
  padding-bottom: 20px;
}

.reviews {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 308px;
  border: 1px solid #ae7c78;
  margin: 80px auto 80px auto;
}
.reviews h2 {
  text-align: center;
  width: 100%;
  padding-top: 63px;
  margin: 0px;
  line-height: 0px;
}

.reviews blockquote {
  width: 317px;
  margin: 0px;
  padding: 0px 40px 0px 40px;
}
.reviews blockquote cite {
  font-weight: 500;
  font-style: normal;
}

.contacts {
  background-image: url(img/map.jpg);
  position: relative;
  width: 1440px;
  height: 644px;
  margin: 80px auto 0px auto;
}
.contacts-text {
  width: 386px;
  height: 520px;
  background: #f7fafc;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  position: absolute;
  margin-left: 222px;
  margin-top: 52px;
}
.contacts-text h2 {
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 22px;
  margin: 0px;
}

.contacts-description dt {
  margin: 0 0 20px 30px;
}

.contacts-description dd > a > span {
  color: #ae7c78;
}
.contacts-description dd {
  margin: 0 0 25px 30px;
  font-weight: 500;
  line-height: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 97px;
  background-color: #ae7c78;
  color: white;
  margin: 0px auto;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 30px;
}
.footer-menu > li {
  padding: 0px 34px 0px 34px;
}

.footer-image {
  margin: 24px auto 40px 125px;
  width: 100px;
  height: 32px;
}
.footer-networks {
  display: flex; /* Отображать как строчный элемент */
  list-style: none;
  margin: 30px 105px 47px auto;
}
.footer-networks > li {
  padding: 0px 10px 0 10px;
}
